@media screen and (min-width: 769px) {

	* {
		box-sizing: border-box;
	}

	body {
		background-color: #1B2473;
		margin: 0;
	}

	.form {
		margin: 0 auto;
		width: 600px;
		height: 412px;
		margin-top: 82px;
		background-color: #FFFFFF;
		border-radius: 20px;
		font-family: Roboto;
		font-weight: bold;
		color: #787878;
		position: relative;
	}

	h1 {
		font-size: 50px;
		line-height: 50px;
		margin: 0;
		padding-left: 242px;
		padding-top: 26px;
		text-align: left;
	}

	.form__input-email {
		color: red;
		margin: 0;
		padding-top: 17px;
		padding-left: 34px;
	}

	.form__email-label {
		font-size: 16px;
		line-height: 16px;
		padding-left: 19px;
	}

	.form__email {
		margin-top: 3px;
		width: 509px;
		height: 49px;
		border-radius: 10px;
		border: 2px solid #787878;
		outline: none;
	}

	#input-email::placeholder {
		font-size: 28px;
		color: #CCCCCC;
		line-height: 36px;
	}

	input[type="email" i] {
	    padding-left: 15px;
		font-size: 28px;
		color: #787878;
	}

	.form__input-password {
		margin: 0;
		padding-top: 13px;
		padding-left: 34px;
	}

	.error {
		padding: 0;
		margin: 0;
	}

	.error1 {
		padding: 0;
		margin: 0;
	}

	.form__password-label {
		font-size: 16px;
		line-height: 16px;
		padding-left: 19px;
	}

	.form__password {
		margin-top: 3px;
		width: 509px;
		height: 49px;
		border-radius: 10px;
		border: 2px solid #787878;
		outline: none;
	}

	#input-password::placeholder {
		font-size: 28px;
		color: #CCCCCC;
		line-height: 36px;
	}

	input[type="password" i] {
	    padding-left: 15px;
		font-size: 28px;
		color: #787878;
	}

	.form__checkbox-wrapper {
		margin-top: 16px;
		margin-left: 34px;
		position: relative;
		width: fit-content;
		display: flex;
	}

	.form__checkbox {
		position: absolute;
		opacity: 0;
		width: 40px;
		height: 100%;
		top: 0;
		left: 0;
		margin: 0;
	}

	.form__checkbox-mark {
		min-width: 24px;
		height: 24px;
		border: 2px solid #787878;
		border-radius: 7px;
	}

	.form__checkbox-label {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		padding-left: 10px;
		padding-top: 4px;
	}

	.form__checkbox:checked + .form__checkbox-mark:after {
		content: '✓';
		position: absolute;
		color: #787878;
		left: 17px;
		top: 0;

	}

	.form__button {
		width: 180px;
		height: 52px;
		background: #1A226B;
		border: 0;
		border-radius: 10px;
		outline: none;
		color: #FFFFFF;
		font-size: 24px;
		line-height: 16px;
		margin-top: 0px;
		margin-left: 218px;
		margin-right: 202px;
		padding: 0;
	}

	.alarm3 {
		clear: both;
		width: 100%;
		height: 1px;
		display: block;
	}

	.form__input-email.error {
		color: red;
	}
}
